body{
  height: 3000px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px 120px;
  background: rgb(245 245 245);
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.4);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-section {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.user-name {
  font: bold 18px Arial;
}

.buttons-section {

  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.add-friend-button, .message-button {
  padding: 10px 16px;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 0.5);
  font: bold 16px Arial;
  border-radius: 6px;
  border: none;
}

.add-friend-button {
  background: rgb(56, 113, 220);
  color: rgb(255, 255, 255);
}

.message-button {
  background: rgb(227, 229, 233);
  color: rgb(0, 0, 0);
}