# Logs
logs
*.log
npm-debug.log*

# Compiled output
dist
tmp
out-tsc
bazel-out
bin
obj

# Node
node_modules
npm-debug.log
yarn-error.log

# Optional npm cache directory
.npm

# Folder config file
Desktop.ini

### Code ###
.settings/
.vscode/
.idea/
.vs/

# Miscellaneous
.angular/

# Configurations
*.user
*.DotSettings

# Data
Courses/[Milan Jovanovic] Pragmatic Clean Architecture/*/.containers/