p {
    font-family: Arial, serif;
    text-align: center;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.content {
    margin: 15px 0;
}

.link {
    color: rgb(74, 110, 193);
    margin: 15px 0 0 0;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}