/* General setup */

html {
  font: normal 700 10px "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 2.2em;
  letter-spacing: 0.04em;
  word-spacing: 0.4em;
}

/* Layout */

section {
  font-size: 1.6em;
  float: left;
  width: 50%;
}

aside {
  font-size: 1.6em;
  float: left;
  width: 30%;
}

nav {
  font-size: 1.6em;
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid rgb(170, 102, 102);
  border-bottom: 5px solid rgb(170, 102, 102);
}

/* headers */

h1 {
  font: 4em "Kaushan Script", sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
}

h2 {
  font: 2.5em "Kaushan Script", sans-serif;
  letter-spacing: 0.05em;
}

/* paragraphs */

h1 + p,
h2 + p {
  text-indent: 2em;
}

/* links */

a {
  outline: none;
}

a[href^="http"]:after {
  display: inline-block;
  content: "";
  background: url("external-link.png") top right / 0.6em 0.6em no-repeat;
  width: 0.7em;
  height: 0.8em;
}

a:link {
  color: rgb(194, 118, 118);
}

a:visited {
  color: rgb(55, 33, 33);
}

a:active {
  font-size: 1.2em;
}

a:focus {
  color: rgb(139, 84, 84);
  text-decoration: none;
}

a:hover {
  color: rgb(103, 62, 62);
  text-decoration: none;
}

/* nav */

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  display: block;
  margin: 1em;

  border: 2px solid rgb(170, 102, 102);
  border-radius: 2px;

  padding: 0.8em;
  text-align: center;
  text-decoration: none;
}

nav a:active {
  font-size: inherit;
}

/* aside */

aside ul {
  list-style: none;
}

aside li a:before {
  display: inline-block;
  content: "";
  background: url("arrow.png") left center / 0.6em 0.6em no-repeat;
  width: 0.6em;
  height: 0.6em;
  margin-right: 0.4em;
}