html {
  font-size: 16px;
  font-family: sans-serif;
}

body > div {
  width: 190px;
  height: 100px;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 4px;
  box-shadow: 
      inset 1px 1px 3px rgb(207, 207, 207),
      inset -1px -1px 3px rgb(0, 0, 0),
      2px 2px 5px rgb(0, 0, 0);
  
  font: 1.25rem/100px Charmonman, sans-serif; /* 16px = 1rem, 20px = (x)rem => x = 20 * 1 / 16 = 1.25 */
  text-shadow: 1px 1px 1px rgb(219, 211, 19, 0.4);
  text-align: center;
  
  color: rgb(219, 211, 19);
  background:
      linear-gradient(90deg, rgb(0 0 0 / 0.2) 0%, transparent 4%),
      linear-gradient(180deg, rgb(0 0 0 / 0.2) 0%, transparent 8%),
      linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%),
      rgb(77, 77, 77);
  transition: all 0.15s;
  cursor: pointer;
}

body > div:hover {
  background: rgb(0 0 0);
  transform: translateY(-1.5%);
}

body > div:active {
  transform: scale(95%);
  font-size: calc(0.95 * 1.25em);
}