p {
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  background: rgb(249 249 249);
}

@media (max-width: 1200px) {
  body {
    padding: 80px 24px 0 96px;
  }
}

@media (min-width: 1201px) {
  body {
    padding: 80px 24px 0 226px;
  }
}