.email-label {
  display: block;
  font-size: 18px;
  color: rgb(82, 82, 82);
  margin: 0 0 4px 0;
}

.email-input {
  display: block;
  font-size: 18px;
  width: 400px;
  border: 3px solid rgb(82, 82, 82);
  border-radius: 5px;
  padding: 6px 10px;
  margin: 4px 0 20px 0;
}

.caption {
  display: block;
  font-size: 18px;
  color: rgb(82, 82, 82);
  margin: 20px 0;
}

.confirm-button {
  display: block;
  font-size: 20px;
  background: rgb(95, 95, 253);
  color: rgb(255, 255, 255);
  padding: 20px 155px;
  border:none;
  border-radius: 30px;
  margin: 20px 0;
}
