.container {
  width: 300px;
  border: 1px solid #adacac;
  border-radius: 8px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
}

.name {
  font: 16px Arial;
}

.number {
  font: bold 16px Arial;
  background: rgb(64, 108, 236);
  color: rgb(255, 255, 255);
  border-radius: 14px;
  padding: 1px 8px;
}